body{
    background-color: rgb(0, 0, 0);
    color: white;
}
.data{
    margin-top: 5%;
}

.form{
    background-color: rgb(0, 0, 0);
    border-style: groove;
}
table th td{
    border: 1px solid;
}

